*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#1e293b;
  color:#e5e7eb;
  overflow-x:hidden;
}

header{
  height:100vh;
  background:linear-gradient(135deg,#0f172a,#1e40af);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

header h1{
  font-size:4rem;
  font-weight:800;
}

header span{
  color:#60a5fa;
}

header p{
  margin:15px 0;
  font-size:1.3rem;
  color:#cbd5f5;
}

.btn{
  background:#60a5fa;
  padding:14px 32px;
  border-radius:30px;
  text-decoration:none;
  color:#020617;
  font-weight:600;
  transition:.3s;
}

.btn:hover{
  transform:scale(1.1);
  box-shadow:0 0 25px #60a5fa;
}

section{
  padding:90px 12%;
  background:#1e293b;
}

h2{
  text-align:center;
  color:#60a5fa;
  font-size:2.7rem;
  margin-bottom:50px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:35px;
}

.card{
  background:#0f172a;
  border-radius:18px;
  padding:30px;
  box-shadow:0 0 20px rgba(0,0,0,0.4);
  transition:.4s;
}

.card:hover{
  transform:translateY(-12px);
  box-shadow:0 0 25px #60a5fa;
}

.card h3{
  color:#93c5fd;
  margin-bottom:12px;
}

.skill-box span{
  background:#1e293b;
  padding:8px 15px;
  border-radius:20px;
  display:inline-block;
  margin:6px;
}

.contact-card{
  text-align:center;
  font-size:1.1rem;
}

footer{
  background:#020617;
  padding:25px;
  text-align:center;
  color:#94a3b8;
}
